@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fuzzy Bubbles";
  src: url("/public/Fonts/FuzzyBubbles/FuzzyBubbles.ttf");
}
@font-face {
  font-family: "GT America";
  src: url("/public/Fonts/GT America/Watered Down/GT America Expanded.otf");
}
@font-face {
  font-family: "GT America Expanded Black";
  src: url("/public/Fonts/GTAmerica/WateredDown/GTAmericaExpandedBlack.ttf");
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

.spaceCardAnimation {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab), black;
  background-size: 500% 500%;
  background-blend-mode: overlay;
  background-position: 0% 50%;
  transition: 2s;

  fill-opacity: 10px;
  filter: blur(10px);
  filter: brightness(400%);
}
.spaceCardAnimation:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 3s ease-in infinite;
  transition: 300ms;
  transition-delay: 200ms;
  filter: none;
}

.scroll-text-container {
  overflow: hidden;
}
.scroll-text {
  display: block;
  animation-name: scrollingText;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scrollingText {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(100%);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
